<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bus WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>bus WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>bus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4FEC2A9D1E0667C00059C322</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FEC2AB11E0667C00059C322</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FEC2ABC1E0667C00059C322</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FEC2AC51E0667C00059C322</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
